# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Looping/Looping_Exercise/.vs/Looping_Exercise/DesignTimeBuild/.dtbcache
*.lock
*.ide
*.json
*.pdb
*.cache
*.props
*.targets
*.txt
Exercises/Looping_Exercise/.vs/Looping_Exercise/DesignTimeBuild/.dtbcache
Exercises/ListOfInts_Exercise/.vs/ListOfInts_Exercise/DesignTimeBuild/.dtbcache
